---
import styles from "./Products.module.less";
import MainProduct from "./MainProduct/MainProduct.astro";
import SecondProduct from "./SecondProduct/SecondProduct.astro";
import ThirdProduct from "./ThirdProduct/ThirdProduct.astro";
import Categories from "components/shared/Categories/Categories.astro";
---

<section class={styles.container}>
  <section class={styles.container__wrapper}>
    <Categories />
  </section>
  <section class={styles.container__wrapper}>
    <MainProduct />
    <SecondProduct />
    <ThirdProduct />
  </section>
</section>
