---
import GoBack from "components/shared/goBack/goBack.astro";
import { CartForm } from "./CartForm/CartForm";

import styles from "./CartPage.module.less";
---

<main class={styles.container}>
  <section class={styles.container__wrap}>
    <GoBack />
    <CartForm client:visible />
  </section>
</main>
