---
import GoBack from "components/shared/goBack/goBack.astro";
import { CartForm } from "./CartForm/CartForm";

import styles from "./CartPage.module.less";
---

<main class={styles.container}>
  <section class={styles.container__wrap}>
    <GoBack />
    <div class={styles.container__formWrap}>
      <h1 class={styles.container__title}>CHECKOUT</h1>
      <CartForm client:visible />
    </div>
  </section>
</main>
