.container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 76px;
  padding: 76px 24px 0px 24px;
  min-height: 100vh;

  &__wrap {
    width: 100%;
    max-width: 1110px;
    display: flex;
    flex-direction: column;
    gap: 38px;
  }
}
