---
import GoBack from "components/shared/goBack/goBack.astro";

import styles from "./CartPage.module.less";
---

<main class={styles.container}>
  <section class={styles.container__wrap}>
    <GoBack />
    <div class={styles.container__wrap}>
      <h1>CHECKOUT</h1>
      <form>
        <input />
      </form>
    </div>
  </section>
</main>
