.cartContainer {
  position: absolute;
  background-color: white;
  right: 60px;
  top: 132px;
  width: 377px;
  min-height: 100%;
  padding: 32px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 24px;
  font-family: "ManropeBold";
  transition: 10ms ease;
  z-index: 100;

  &__header {
    display: flex;
    justify-content: space-between;
  }

  &__greyColor {
    opacity: 0.5;
  }

  &__checkoutBtn {
    width: 100%;
  }

  &__totalWrap {
    display: flex;
    justify-content: space-between;
    margin-top: auto;
  }

  &__boldText {
    font-size: 1.2rem;
    display: flex;
  }

  &__cartItems {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }
}
