@import "../../../styles/variables.less";

.container {
  &__wrap {
    display: flex;
    align-items: center;
    width: 100%;
    gap: 16px;
    border: 1px solid #cfcfcf;
    padding: 18px 16px;
    border-radius: 8px;
    transition: 300ms ease;
  }

  &__input {
    width: 20px;
    height: 20px;
    outline: none;
    accent-color: @orange;
    &:active,
    &:focus {
      outline: none;
    }
  }

  &__label {
    font-weight: 900;
  }

  &__wrapChecked {
    border: 1px solid @orange;
  }

  @media only screen and (max-width: 365px) {
    &__label {
      font-size: 0.8rem;
    }
  }
}
