.SingleProductContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 76px;
  padding: 76px 24px 0px 24px;

  &__wrap {
    width: 100%;
    max-width: 1110px;
  }

  &__goBack {
    opacity: 0.5;
  }
}
