@import "../../../styles/variables.less";

.nav {
  background: @black;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px 24px;
  position: relative;
  z-index: 5;

  &__wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1109px;
    padding: 35px 0px;
    border-bottom: 1px solid rgba(200, 200, 200, 1);
    width: 100%;
    position: relative;
  }

  &__mobileIcon {
    display: none;

    &:hover {
      cursor: pointer;
    }
  }

  &__logo {
    width: 143px;
    height: 25px;
  }

  &__cart {
    margin: 5px 60px;
    &:hover {
      cursor: pointer;
    }
  }

  &__navItem {
    cursor: pointer;
    color: white;
    font-weight: 600;
    text-decoration: none;
    transition: 300ms ease;

    &_active {
      color: @orange;
    }

    &:hover {
      color: @orange;
    }
  }

  @media only screen and (max-width: 900px) {
    &__cart {
      margin: 0px;
      &:hover {
        cursor: pointer;
      }
    }
    &__wrap {
      justify-content: space-between;
      gap: 42px;
    }
    &__logo {
      margin-right: auto;
    }
    &__navList {
      display: none;
    }
    &__mobileIcon {
      display: block;
    }
  }

  @media only screen and (max-width: 570px) {
    &__wrap {
      justify-content: space-between;
      gap: 42px;
    }
    &__navList {
      gap: 70px;
    }
    &__logoWrap {
      display: flex;
      align-items: center;
      justify-content: center;
    }
    &__logo {
      margin-right: 0px;
      width: 110px;
      height: 20px;
    }
    &__cart {
      margin: 0px;
    }
  }
}

.home {
  background: @lightBlack;
}

.overlay {
  position: fixed;
  margin-top: -101px;
  height: 100vh + 101px;
  width: 100%;
  z-index: 3;
  background-color: rgba(0, 0, 0, 0.6);
}
