---
import styles from "./SecondProduct.module.less";
---

<div class={styles.secondProduct}>
  <div class={styles.secondProduct__details}>
    <h2 class={styles.secondProduct__title}>ZX7 SPEAKER</h2>
    <button class={`btn-secondary-reverse`}> SEE PRODUCT</button>
  </div>
</div>
