---
import Hero from "./Hero/Hero.astro";
import Products from "./products/Products.astro";
import styles from "./HomePage.module.less";
---

<main class={styles.container}>
  <Hero />
  <Products />
</main>
