.formContainer {
  min-height: 1126px;
  display: flex;
  gap: 30px;
}

.sumContainer {
  border-radius: 8px;
  width: 350px;
  background-color: white;
  padding: 32px 33px;
}

.inputContainer {
  background-color: white;
  padding: 54px 48px;
  display: flex;
  flex-direction: column;
  gap: 41px;
  border-radius: 8px;
  width: 100%;
  &__inputWrap {
    display: flex;
    gap: 16px;
    flex-wrap: wrap;
  }
  &__title {
    font-size: 2rem;
  }
}
