---
export interface Props {
  title: string;
  hideAbout?: boolean;
}

import About from "components/shared/About/About.astro";
import Footer from "components/shared/Footer/Footer.astro";
import { Navbar } from "components/shared/Navbar/Navbar";

const pathname = new URL(Astro.request.url).pathname;
const currentPath = pathname.slice(1);

const { title, hideAbout } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="/css/style.bundle.css" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <Navbar currentPath={currentPath} client:visible />
    <div>
      <slot />
    </div>
    {!hideAbout && <About />}
    <Footer />
    <style is:global lang="less">
      @import "../styles/variables.less";
      @font-face {
        font-family: ManropeBold;
        src: url("/fonts/Manrope-Bold.ttf");
      }
      @font-face {
        font-family: ManropeRegular;
        src: url("/fonts/Manrope-Regular.ttf");
      }
      @font-face {
        font-family: ManropeMedium;
        src: url("/fonts/Manrope-Medium.ttf");
      }

      :root {
        --accent: 124, 58, 237;
        --accent-gradient: linear-gradient(
          45deg,
          rgb(var(--accent)),
          #da62c4 30%,
          white 60%
        );
        max-width: 100vw;
        height: 100vh;
      }
      * {
        box-sizing: border-box;
      }
      html,
      body {
        padding: 0px;
        margin: 0px;
        height: 100vh;
        max-width: 100%;
        font-family: system-ui, sans-serif;
        background-color: #f6f6f6;
        display: flex;
        flex-direction: column;
      }
      a {
        text-decoration: none;
      }
      h1,
      h2,
      h3,
      h4,
      h5,
      h6,
      p,
      li,
      ul {
        padding: 0px;
        margin: 0px;
        list-style: none;
      }
      h1 {
        font-size: 56px;
        font-family: "ManropeBold";
        line-height: 58px;
        letter-spacing: 2px;
      }
      h2 {
        font-size: 40px;
        font-family: "ManropeBold";
        line-height: 44px;
        letter-spacing: 1.5px;
      }
      h3 {
        font-family: "ManropeBold";
        font-size: 32px;
        line-height: 36px;
        letter-spacing: 1.15px;
      }
      h4 {
        font-family: "ManropeBold";
        font-size: 28px;
        line-height: 38px;
        letter-spacing: 2px;
      }
      h5 {
        font-family: "ManropeBold";
        font-size: 24px;
        line-height: 33px;
        letter-spacing: 1.7px;
      }
      h6 {
        font-family: "ManropeBold";
        font-size: 18px;
        line-height: 24px;
        letter-spacing: 1.3px;
      }
      .overline {
        font-family: "ManropeRegular";
        font-size: 14px;
        line-height: 19px;
        letter-spacing: 10px;
        color: @orange;
      }
      .subtitle {
        font-family: "ManropeBold";
        font-size: 13px;
        line-height: 25px;
        letter-spacing: 1px;
      }
      p {
        font-family: "ManropeMedium";
        font-size: 15px;
        line-height: 25px;
      }
      button {
        &:hover {
          cursor: pointer;
        }
      }
      .button {
        font-family: "ManropeRegular";
        letter-spacing: 1px;
        font-weight: 700;

        padding: 15px 31px;
        border: none;
      }
      .btn {
        &:extend(.button);
        background-color: @orange;
        transition: 500ms ease;
        color: white;

        &:hover {
          background-color: @pink;
        }
      }
      .btn-secondary {
        &:extend(.button);
        background-color: @black;
        color: white;
        transition: 400ms ease;

        &:hover {
          background-color: @lightBlack;
        }
      }
      .btn-secondary-reverse {
        &:extend(.button);
        background-color: transparent;
        outline: 1px solid @black;
        transition: 400ms ease;

        &:hover {
          background-color: @black;
          color: @white;
        }
      }

      input {
        padding: 18px 24px;
        border-radius: 8px;
        outline: 1px solid #cfcfcf;
        border: none;
      }

      input:active,
      input:focus {
        outline: 1px solid @orange;
      }

      input[aria-invalid="true"] {
        outline: 2px solid #cd2c2c;
      }

      code {
        font-family: Menlo, Monaco, Lucida Console, Liberation Mono,
          DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace;
      }
    </style>
  </body>
</html>
